/* Global Styles */

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: .5rem auto 0 auto;
    border-bottom: 5px solid rgb(44, 43, 59);
    padding-bottom: 1rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: .1rem auto 0 auto;
    border-top: 2px solid rgb(44, 43, 59);
    padding-top: 1rem;
}

footer {
    text-align: center;
    width: 90%;
    margin: 1rem auto 2rem auto;
}

h1, 
h2, 
p,
li,
legend,
label,
input,
footer {
    font-family: 'Roboto', 'Carrois Gothic SC', 'Segoe UI', sans-serif;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1rem;
    padding: 1rem 0;
    background: rgb(44, 43, 59);
    color: white;
    font-size: 1.3rem;
}

/* Top section */

#top h1 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 0;
}

#top p {
    text-align: center;
    color: rgba(44, 43, 59, .5);
    margin-bottom: 1rem;
}

/* Form Sections */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

legend {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

label {
    color: rgba(44, 43, 59, .7);
    margin-bottom: .5rem;
}

fieldset:first-child input,
select {
    height: 2rem;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: .8rem;
    border: none;
    padding-left: .5rem;
}

fieldset:first-child {
    border-bottom: 2px solid rgb(44, 43, 59);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.newsletters p,
.news-format p {
    margin-bottom: 1rem;
}

::placeholder {
    color: rgba(44, 43, 59, .4);
    text-align: right;
    padding-right: 1rem;
}

legend,
div input:not(:last-child),
fieldset div,
fieldset select {
    margin-bottom: 1rem;
}

input[name="zip"] {
    width: 25%;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    padding-left: 1rem;
}

textarea {
    margin-bottom: 1rem;
    height: 5rem;
    width: 100%;
    resize: none;
    background-color: whitesmoke;
}

input[type="submit"] {
    padding: .5rem;
    background: teal;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    width: 100%;
}

/* Breakpoints */

@media (min-width: 768px) {
    #top,
    #contact-form,
    footer {
        width: 60%;
    }
}